html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, #map {
  margin: 0;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  cursor: default;
  /* Fix the issue in IE9 where the maps ends up on top of content */
  z-index: -10;
}

a {
  /* Fix for IE10/11 */
  background: transparent;
}

.bar {
  width: 80%;
  text-align: center;
  position: fixed;
  top: 7px;
  left: 50%;
  margin-left: -40%;
}

.bar a {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;

  width: 33.33333%;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  float: left;
  height: 40px;

  line-height: 40px;
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.bar a:hover {
background: rgba(0, 0, 0, 0.7);
}

.bar *:first-child {
  border-radius: 7px 0px 0px 7px;
  border-right: 2px solid white;
}

.bar *:last-child {
  border-radius: 0px 7px 7px 0px;
  border-left: 2px solid white;
}